
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');


:root {
    /* Palette */
    
    --primary: #000000;
    --secondary: #131F15;
    --light: #fdfdfd;

    /* font sizes*/

    --text-xxl: 4.8em;
    --text-xl: 3.2em;
    --text-lg: 2.0em;
    --text-md: 1.6em;
    --text-sm: 1.4em;

    /* Spacings */

    --sp-xxl: 12rem;
    --sp-xl: 8rem;
    --sp-lg: 5rem;
    --sp-md: 3.2rem;
    --sp-sm: 1.6rem;
    --sp-xs: 0.8rem;
}

/*Normalize*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 62,5px;
    background-color: #000000;
}

body {
    font-size: var(--text-sm);
    font-family: 'Noto Sans', sans-serif;
    color: var(--primary)
}

ul {
    list-style-type: none;
    font-size: 25px;
}


a {
    font-size: var(--text-md);
    text-decoration: none;
}

/* HEADER */
header {
    background-color: var(--primary);
    padding: var(--sp-sm);

}


.container {
    color:rgb(0, 0, 0);
    max-width: 1200px;
    margin: 0  auto;
}


.menu .menu__link {
    color:var(--light);
    display: inline-block;
    padding: 1.1rem 1rem;
    transition: all .3s ease-in-out;
}

.menu .menu__link:hover {
    background-color:var(--light);
    color: var(--primary);
    border-radius: 5px;

}


.navbar .menu {
    display: inline-block;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu .menu__item {
    display: inline-block;
}

.guitarras {
    background-color: var(--primary);
}

.banner-guitarras {
    max-width: 1687px;
}

.banner-inicio {
    max-width: 1687px;
}

.ofertas_black {
    background-color: var(--primary);
}

.ofertas-titulo-red {
    background: var(--light);
    color: red;
}


.banner-inicio {
    background-color: #efeded;
}





