   /* Palette */

   $primary: #000000;
   $secondary: #131F15;
   $light: #fdfdfd;

   /* font sizes*/

   $text-xxl: 4.8em;
   $text-xl: 3.2em;
   $text-lg: 2.0em;
   $text-md: 1.6em;
   $text-sm: 1.4em;

   /* Spacings */

   $sp-xxl: 12rem;
   $sp-xl: 8rem;
   $sp-lg: 5rem;
   $sp-md: 3.2rem;
   $sp-sm: 1.6rem;
   $sp-xs: 0.8rem;
   


   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   html {
       font-family: 62, 5px;
       background-color: #000000;
   }

   body {
       font-size: $text-sm;
       font-family: 'Noto Sans', sans-serif;
       color: $primary;
       background-color: #000000;
   }

   ul {
       list-style-type: none;
       font-size: 25px;
   }


   a {
       font-size: $text-sm;
       text-decoration: none;
   }