@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');




.ofertas_black {
    color: #efeded;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logos_guitarras {
    background-color: #ffffff;
    justify-content: space-around;
    display: flex;
    margin-bottom: 120px;
}


